# Buiyyld and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Mobile Tools for Java (J2ME)
  .mtj.tmp/
  .logs/*
  **/*.iml
# Package Files #
  *.jar
  *.war
  *.ear
  target
out/
  .idea
  .DS_Store
  exports

  hs_err_pid*
  .tags
  .tags_sorted_by_file

LICENSE
